<div class="document-container">
  <div class="mt-4">
    <h1 class="d-flex justify-content-center border-bottom text-center">"CPF" Blacklist</h1>

    <h3 class="mt-5">This is a database created to blacklist CPF numbers. And what is a CPF?</h3>
    <p class="mt-4 border-bottom">
      "CPF" stands for <em>"Cadastro de Pessoas Físicas"</em> (Natural Persons Register).
      A CPF is an individual taxpayer identification number given to people living in Brazil,
      both native Brazilians and resident aliens, who pay taxes.
    </p>
  </div>
  <div class="mt-4">
    <%= simple_form_for :search, url: root_path, input_html: {id: :form}, method: "GET" do |f| %>
      <%= f.input :number, input_html: {value: "", id: :cpf}, label: "CPF number:", placeholder: "E.g. 000.000.000-00" %>
      <div class="errors">
        <ul class="errors-list">
        </ul>
      </div>
      <%= f.submit "Search on the blacklist", id: "search-button", class: "btn btn-secondary rounded-pill w-100" %>
    <% end %>
  </div>
  <% if @document.present? %>
    <div class="result mt-4">
      <div>
        <div>
          <h5>CPF: <%= @document_number %></h5>
          <h3><strong>BLOCK</strong></h3>
        </div>
        <div>
          <%= link_to "Remove from blacklist", document_path(@document), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: "btn btn-danger rounded-pill w-100" %>
        </div>
      </div>
    </div>
  <% end %>
  <% if @document.nil? && @document_number.present? %>
    <div class="result mt-4">
      <h5>CPF: <%= @document_number %></h5>
      <h3><strong>FREE</strong></h3>
      <%= simple_form_for (@new_document), remote: true do |f| %>
        <%= f.input :number, as: :hidden, input_html: { value: @document_number } %>
        <%= f.submit 'Add to the blacklist', data: { confirm: 'Are you sure?' }, class: 'btn btn-dark rounded-pill w-100' %>
      <% end %>
    </div>
  <% end %>
</div>
